PolygonTest/PolygonTest.sln
PolygonTest/.vs/PolygonTest/v17/.suo
PolygonTest/PolygonTest/App.config
PolygonTest/PolygonTest/PolygonTest.csproj
PolygonTest/PolygonTest/bin/Debug/PolygonTest.exe
PolygonTest/PolygonTest/bin/Debug/PolygonTest.exe.config
PolygonTest/PolygonTest/bin/Debug/PolygonTest.pdb
PolygonTest/PolygonTest/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
PolygonTest/PolygonTest/obj/Debug/App.g.cs
PolygonTest/PolygonTest/obj/Debug/App.g.i.cs
PolygonTest/PolygonTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PolygonTest/PolygonTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PolygonTest/PolygonTest/obj/Debug/MainWindow.baml
PolygonTest/PolygonTest/obj/Debug/MainWindow.g.cs
PolygonTest/PolygonTest/obj/Debug/MainWindow.g.i.cs
PolygonTest/PolygonTest/obj/Debug/PolygonTest.csproj.AssemblyReference.cache
PolygonTest/PolygonTest/obj/Debug/PolygonTest.csproj.CoreCompileInputs.cache
PolygonTest/PolygonTest/obj/Debug/PolygonTest.csproj.FileListAbsolute.txt
PolygonTest/PolygonTest/obj/Debug/PolygonTest.csproj.GenerateResource.cache
PolygonTest/PolygonTest/obj/Debug/PolygonTest.csproj.SuggestedBindingRedirects.cache
PolygonTest/PolygonTest/obj/Debug/PolygonTest.exe
PolygonTest/PolygonTest/obj/Debug/PolygonTest.g.resources
PolygonTest/PolygonTest/obj/Debug/PolygonTest.pdb
PolygonTest/PolygonTest/obj/Debug/PolygonTest.Properties.Resources.resources
PolygonTest/PolygonTest/obj/Debug/PolygonTest_MarkupCompile.cache
PolygonTest/PolygonTest/obj/Debug/PolygonTest_MarkupCompile.i.cache
PolygonTest/PolygonTest/obj/Debug/PolygonTest_MarkupCompile.i.lref
PolygonTest/PolygonTest/obj/Debug/PolygonTest_MarkupCompile.lref
PolygonTest/PolygonTest/Properties/AssemblyInfo.cs
PolygonTest/PolygonTest/Properties/Resources.Designer.cs
PolygonTest/PolygonTest/Properties/Resources.resx
PolygonTest/PolygonTest/Properties/Settings.Designer.cs
PolygonTest/PolygonTest/Properties/Settings.settings
